<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Memo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.moonlight.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />

    <script src="http://cdn.kendostatic.com/2015.1.429/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
</head>
<body>
    <div class="content-pane">
        <div id="grid"></div>
    </div>
    <script>
        $(document).ready(function () {
            var UrlBase = "/";
            $("#grid").kendoGrid({
                dataSource: {
                    pageSize: 5,
                    dataType: "jsonp",
                    transport: {
                        read: {
                            url: UrlBase+"api/Course",
                            contentType: "application/json; charset=utf-8",
                            type: "GET"
                        },
                        create: {
                            url: UrlBase+"api/Course",
                            contentType: "application/json; charset=utf-8",
                            type: "POST"
                        },
                        update: {
                            url: UrlBase+"api/Course",
                            contentType: "application/json; charset=utf-8",
                            type: "PUT"
                        },
                        destroy: {
                            url: UrlBase + "api/Course",
                            contentType: "application/json; charset=utf-8",
                            type: "DELETE"
                        },
                        parameterMap: function (data, operation) {
                            if (operation !== "read") {
                                return kendo.stringify(data);
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id  : { type: "string", editable: true, nullable: false },
                                Name: { type: "string", editable: true, nullable: false },
                                Description : { type: "string", editable: true }
                            }
                        }
                    }

                },
                height: 550,
                sortable: true,
                scrollable: true,
                sortable: true,
                filterable: {
                    messages: {
                        info: "新增查詢:",
                        filter: "查詢",
                        clear: "取消",
                        eq: "等於",
                        and: "且",
                        or: "或",
                    },
                    operators: {
                        string: {
                            eq: "等於",
                            neq: "不等於",
                            startswith: "開頭為",
                            contains: "包含",
                            doesnotcontain: "不包含",
                            endswith: "結尾為"
                        },
                        number: {
                            eq: "等於",
                            neq: "不等於",
                            startswith: "開頭為",
                            contains: "包含",
                            doesnotcontain: "不包含",
                            endswith: "結尾為"
                        }
                    }
                },
                editable: "inline",
                toolbar: [{ name: "create", text: "新增便籤" }],
                pageable: {
                    input: true,
                    numeric: false,
                    messages: {
                        display: "顯示紀錄 {0} - {1} 共 {2}",
                        empty: "沒有紀錄顯示",
                        page: "第",
                        of: "共 {0}",
                    }
                },
                columns: [
                    { field: "Id"  , title: "便籤編號" , width: "100px" },
                    { field: "Name", title: "主旨", width: "100px" },
                    { field: "Description", title: "詳細", width: "160px" },
                    { command: ["edit", "destroy"], title: "", width: "250px" }
                ]
            });

        });
    </script>
</body>
</html>
